body {
    background-color: var(--color-beige);
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.menu-lateral__item {
    list-style: none;
}

.menu-lateral__lista {
    padding-left: 0;
}

.btn-item {
    background-color: transparent;
    border: none;
    color: var(--color-brown-dark);
    font-weight: 600;
}

.ancora-item {
    text-decoration: none;
    color: var(--color-brown-dark);
    font-weight: 600;
}

.menu-lateral__lista {
    margin-top: 3rem;
}

.menu-lateral__item {
    border-bottom: 1.3px solid var(--color-brown-dark);
    padding: .5rem 0;
    font-size: 1rem;
    text-align: start;
    margin-left: 1rem;
}

.secao-principal__titulo {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: start;
}

.propaganda-titulo {
    margin-top: 3rem;
    color: var(--color-brown-dark);
    font-weight: 600;
    border-bottom: 1.3px solid var(--color-brown-dark);
    padding: .5rem 0;
    text-align: start;
    font-size: 1rem;
}

.header__btn-anunciar {
    border-radius: 50%;
}

.card {
    margin: .5rem;
    width: 18rem;
    background-color: var(--color-green);
}

.card-content {
    margin-top: .5rem;
    padding: .5rem .7rem;
}

.card-imagem {
    margin-top: .6rem;
    border-radius: 3px;
}

.card-titulo {
    color: var(--color-beige);
    text-align: start;
    margin-bottom: 1rem
}

.card-preco {
    margin: 0;
    color: var(--color-beige);
}

.card-btn {
    background-color: var(--color-orange);
    text-decoration: none;
    color: var(--color-beige);
    font-weight: 500;
    padding: 0.375rem 1rem;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .menu-lateral__lista {
        margin-top: 1rem;
    }

    .menu-lateral__item {
        text-align: center;
        margin-left: 0;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 532px) {
    .card {
        width: 24rem;
    }
}