:root {
    --black: #000;
    --primary: #22577A;
    --secondary: #38A3A5;
    --third: #57cc99;
    --bg-white: #F2F2F2;
    --bg-color: #694D35;
    --bg-color-login: #DFDACA;
}

/* @font-face {
    font-family: Questrial-Regular;
    src: url(/src/fonts/Questrial-Regular.ttf);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    /* background-color: var(--secondary); */
    text-align: center;
}

/* FOOTER */
.footerBgColor {
    background-color: var(--bg-color);
}

.iconsSize {
    width: 60px;
    height: 60px;
}

.login {
    background-color: var(--bg-color-login);
    width: 40%;
}

.logo {
    height: 160px;
    width: 160px;
    background-position: center;
    background-image: url("/src/img/logo.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.bg-color {
    background-color: var(--bg-color-login);
}

/* HEADER */
.headerBgColor {
    background-color: var(--bg-color);
}

.logoHeader {
    height: 80px;
    width: 80px;
    background-position: center;
    background-image: url("/src/img/logo.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.bg-image {
    height: 100vh;
    background-position: center;
    background-image: url("/src/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}