:root {
    --white: #FFFFFF;
    --black: #000;
    --gray: #D9D9D9;
    --color-green: #627368;
    --color-orange: #BF6734;
    --color-brown-dark: #593414;
    --color-brown-light: #694D35;
    --color-beige: #F2EDDC;
    --font-title: "Libre Baskerville";
    --font-text: "Inter";
    --stroke-color: #A6A6A6
}

/* @font-face {
    font-family: Questrial-Regular;
    src: url(/src/fonts/Questrial-Regular.ttf);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    /* background-color: var(--secondary); */
    text-align: center;
}

/* FOOTER */
.footerBgColor {
    background-color: #694D35;
}

.iconsSize {
    width: 60px;
    height: 60px;
}

.login {
    background-color: #DFDACA;
    width: 40%;
}

.logo {
    height: 181px;
    width: 181px;
    background-position: center;
    background-image: url("/src/img/logo.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.bg-color {
    background-color: #F3EDDD;
}

/* HEADER */
.headerBgColor {
    background-color: #694D35;
}

.logoHeader {
    height: 80px;
    width: 80px;
    background-position: center;
    background-image: url("/src/img/logo.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.bg-image {
    height: 100vh;
    background-position: center;
    background-image: url("/src/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-btn__anunciar {
    color: var(--color-beige);
    padding: .5rem 1rem;
    background-color: var(--color-green);
    border-radius: 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}